@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{ margin: 0; padding: 0; outline: none; }
body{ font-family: 'Roboto', sans-serif; padding: 5%; line-height: 1.6; }

/* header */
.header{ margin-bottom: 20px; }
/* header */

/* input */
.input-todo{ margin-bottom: 20px; display: flex; }
.input-todo input[type="submit"]{
    background-color: green;
    color: #ffffff;
    border: none;
    padding: 10px;
}
.input-todo input[type="text"]{
    padding: 10px;
    border: 1px solid #cccccc;
}
/* input */

/* todo list */
.todo-item{ display: flex; align-items: center; margin-bottom: 10px; }
.todo-item input[type="submit"]{ 
    background-color: red; 
    color: #ffffff;  
    border: none;
    padding: 10px;
}
.todo-item span{
    padding: 0 10px;
}
/* todo list */